<div class="container-fluid" *ngIf="hasPageContentLoaded">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #4e4e4e"
  >
    <a class="navbar-brand" style="color: white"
      >SpaceX Data Visualization App</a
    >
    <a style="color: white">User: Shoumya</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border: 2px solid white"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="color: white"
          >
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/spacex/dashboard"
              >dashboard</a
            >
            <a class="dropdown-item" routerLink="/spacex/userprofile"
              >Profile</a
            >
            <a class="dropdown-item" routerLink="/spacex/logout">logout</a>
            <a class="dropdown-item" routerLink="/">home</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div
    class="jumbotron"
    style="padding: 1rem; border-radius: 0px; border-bottom: 3px solid #000"
  >
    <h1 class="display-4">Latest Information</h1>
    <p>
      {{ latestInfo }}
    </p>
  </div>
</div>

<div class="text-center" *ngIf="!hasPageContentLoaded">
  <div class="spinner-grow" style="width: 8rem; height: 8rem; color: white" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<router-outlet></router-outlet>
