<section style="text-transform: uppercase; font-weight: 500;color:white">
  Launch Vehicle Types
</section>
<ul id="myUL" style="margin-top: 10px; font-size: 16px">
  <li>
    <span class="caret" style="color:white">SpaceX Ship Information</span>
    <ul class="nested">
      <li style="margin-top: 10px;">
        <span class="caret" style="color:white;font-weight: 300;">Capsules</span>
        <ul class="nested" style="color:yellow">
          <li>UpComing Capsules</li>
          <li>Past Capsules</li>
        </ul>
      </li>

      <li style="margin-top: 10px;">
        <span class="caret" style="color:white;font-weight: 300;">Cores</span>
        <ul class="nested" style="color:yellow">
          <li>One Core</li>
          <li>Past Cores</li>
          <li>Upcoming Cores</li>
        </ul>
      </li>

      <li style="margin-top: 10px;">
        <span class="caret" style="color:white;font-weight: 300;">Dragons</span>
        <ul class="nested" style="color:yellow">
          <li>One Dragon</li>
          <li>All Dragons</li>
          <li>Upcoming Dragons</li>
        </ul>
      </li>

      <li style="margin-top: 10px;">
        <span class="caret" style="color:white;font-weight: 300;">Ships</span>
        <ul class="nested" style="color:yellow">
          <li>One Ship</li>
          <li>All Ships</li>
        </ul>
      </li>

      <li style="margin-top: 10px;">
        <span class="caret" style="color:white;font-weight: 300;">Rockets</span>
        <ul class="nested" style="color:yellow">
          <li>One Rocket</li>
          <li>All Rockets</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
