<div class="analytics">
  <div>
    <span
      href="#"
      data-toggle="tooltip"
      title="Analytics Dashboard"
      style="font-size: 18px; cursor: pointer;color: white;"
      >Analytics Dashboard</span
    >
  </div>

  <div>
    <!-- Trigger the modal with a button -->
    <button
      type="button"
      class="btn btn-dark btn-sm"
      data-toggle="modal"
      data-target="#myModal"
      style="border: 2px solid white"
    >
      More on SpaceX
    </button>
  </div>
</div>

<!-- Modal To Fetch more information on spaceX-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(97, 135, 240)">
        <h4 class="modal-title">About SpaceX</h4>
      </div>
      <div class="modal-body">
        <p style="text-transform: capitalize;font-size: 16px;text-align: left;">
          Space Exploration Technologies Corp. (SpaceX) is an American aerospace
          manufacturer and space transportation services company headquartered
          in Hawthorne, California. It was founded in 2002 by Elon Musk with the
          goal of reducing space transportation costs to enable the colonization
          of Mars.[9][10][11] SpaceX has developed several launch vehicles, the
          Starlink satellite constellation, the Dragon cargo spacecraft, and
          flown humans to the International Space Station on the Crew Dragon
          Demo-2. SpaceX's achievements include the first privately funded
          liquid-propellant rocket to reach orbit (Falcon 1 in 2008),[12] the
          first private company to successfully launch, orbit, and recover a
          spacecraft (Dragon in 2010), the first private company to send a
          spacecraft to the International Space Station (Dragon in 2012),[13]
          the first Vertical take-off and vertical propulsive landing for an
          orbital rocket (Falcon 9 in 2015), the first reuse of an orbital
          rocket (Falcon 9 in 2017), the first private company to launch an
          object into orbit around the Sun (Falcon Heavy's payload of a Tesla
          Roadster in 2018), and the first private company to send astronauts to
          orbit and to the International Space Station (SpaceX Crew Dragon
          Demo-2 mission in 2020).[14] SpaceX has flown 20[15] cargo resupply
          missions to the International Space Station (ISS) under a partnership
          with NASA,[16] as well as an uncrewed demonstration flight of the
          human-rated Dragon 2 spacecraft (Crew Demo-1) on 2 March 2019, and the
          first crewed Dragon 2 flight on 30 May 2020.[14]

          <a
            href="https://www.spacex.com/"
            rel="noopener noreferrer"
            target="_blank"
            >Link to the Site - SpaceX</a
          >
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
