/* You can add global styles to this file, and also import other style files */

body {
    /* background-image: url('../src/assets/starshipliftoff_desktop1.jpg'); */
    background-image: url('../src/assets/home_moon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}